body {
    margin: 0;
    background-color: darkslategray;
}

.rpgui-content h1 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

.content>div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rpgui-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.parameters {
    margin-right: 20px;
	flex-basis: 328px;
	flex-grow: 0;
	flex-shrink: 0;
}

select {
    width: 0px;
}

.rpgui-slider {
    width: 100%;
    display: block;
    visibility: hidden;
}

.rpgui-button {
    width: 100%;
}

.content {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
}

.content-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

canvas {
    background-color: #cecece;
    margin: 10px;
    image-rendering: pixelated;
}

#reconstruction-canvas {
    width: 512px;
    height: 512px;
}

#points-canvas, #residual-canvas {
    width: 246px;
    height: 246px;
}

/* Hide points and residual canvases on small screens */
@media (orientation:portrait) {
    .content-side {
        display: none;
    }
}

@media (orientation:landscape) and (max-width: 1275px) {
    .content-side {
        display: none;
    }
}

.exclamation {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Remove arrows from dropdown */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* File selector */
label.text-button~input {
    display: none;
}

.text-button {
    margin-left: 30px;
    margin-right: 30px;
    cursor: url("rpgui/img/cursor/point.png") 10 0, pointer;
}

.text-button:hover {
    text-decoration: underline;
}

/* Modal window */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 80);
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.clickable {
    cursor: url("rpgui/img/cursor/point.png") 10 0, pointer;
}

/* Menu bar */
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Select image */
.thumbnail {
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: url("rpgui/img/cursor/point.png") 10 0, pointer;
}

.thumbnail img {
    width: 150px;
    height: 150px;
}

.thumbnail label {
    margin: auto;
    cursor: url("rpgui/img/cursor/point.png") 10 0, pointer;
}

.thumbnail:hover label {
    text-decoration: underline;
}

.images-grid {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}
