body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.content {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

canvas {
    background-color: #cecece;
    margin: 10px;
    image-rendering: pixelated;
}

#reconstruction-canvas {
    width: 512px;
    height: 512px;
}

#points-canvas, #residual-canvas {
    width: 256px;
    height: 256px;
}
